@import "../../scss/index.scss";

.user-not-found {
    p {
        text-align: center;
    &:nth-child(1){
        margin-top: 2rem;
        font-size: 22px;
        font-weight:500;
    }
    &:nth-child(2){
        font-size: 16px;
    }

    }
}